In [1]:
import requests
import json
import pandas as pd
import numpy as np
from config import api_key
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [2]:
#write api call for 2017 data and get response
long_url2 = "https://api.census.gov/data/2017/acs/acs5/profile?get=DP05_0001E,DP02_0037PE,DP02_0061PE,DP03_0009PE,DP03_0128PE,DP03_0063E,DP05_0004E,DP05_0018E,NAME&for=county:*&in=state:34&key=85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"
response2 = requests.get(long_url2)
print(response2)

<Response [200]>

In [3]:
#read json
response2=response2.json()

In [4]:
#convert to dataframe and clean up header
census1_pd_2017 = pd.DataFrame(response2)
census1_pd_2017.columns = census1_pd_2017.iloc[0]
census1_pd_2017 = census1_pd_2017.iloc[1:]
census1_pd_2017.head()

,DP05_0001E,DP02_0037PE,DP02_0061PE,DP03_0009PE,DP03_0128PE,DP03_0063E,DP05_0004E,DP05_0018E,NAME,state,county
1,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9,"Ocean County, New Jersey",34,029
2,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1,"Atlantic County, New Jersey",34,001
3,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9,"Gloucester County, New Jersey",34,015
4,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1,"Middlesex County, New Jersey",34,023
5,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9,"Salem County, New Jersey",34,033

In [5]:
#rename columns
census1_pd_2017 = census1_pd_2017.rename(columns={"DP05_0001E": "2017 Pop","DP02_0037PE": "2017 Unmarried Women","DP02_0061PE": "High School Graduate(%)","DP03_0009PE":"Unemployment(%)","DP03_0128PE":"Percent Under the Poverty lavel","DP03_0063E":"Mean Income","DP05_0004E":"Sex Ratio(per hundred female)","DP05_0018E":"Mean Age"})
census1_pd_2017.head()

,2017 Pop,2017 Unmarried Women,High School Graduate(%),Unemployment(%),Percent Under the Poverty lavel,Mean Income,Sex Ratio(per hundred female),Mean Age,NAME,state,county
1,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9,"Ocean County, New Jersey",34,029
2,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1,"Atlantic County, New Jersey",34,001
3,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9,"Gloucester County, New Jersey",34,015
4,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1,"Middlesex County, New Jersey",34,023
5,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9,"Salem County, New Jersey",34,033

In [6]:
census1_pd_2017.drop('state', axis=1, inplace=True)

In [7]:
census1_pd_2017.drop('county', axis=1, inplace=True)

In [8]:
census1_pd_2017.head()

,2017 Pop,2017 Unmarried Women,High School Graduate(%),Unemployment(%),Percent Under the Poverty lavel,Mean Income,Sex Ratio(per hundred female),Mean Age,NAME
1,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9,"Ocean County, New Jersey"
2,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1,"Atlantic County, New Jersey"
3,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9,"Gloucester County, New Jersey"
4,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1,"Middlesex County, New Jersey"
5,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9,"Salem County, New Jersey"

In [10]:
census1_pd_2017=census1_pd_2017[['NAME','2017 Pop','2017 Unmarried Women','High School Graduate(%)','Unemployment(%)','Percent Under the Poverty lavel','Mean Income','Sex Ratio(per hundred female)','Mean Age']]
census1_pd_2017.head()

,NAME,2017 Pop,2017 Unmarried Women,High School Graduate(%),Unemployment(%),Percent Under the Poverty lavel,Mean Income,Sex Ratio(per hundred female),Mean Age
1,"Ocean County, New Jersey",589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
2,"Atlantic County, New Jersey",272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
3,"Gloucester County, New Jersey",291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
4,"Middlesex County, New Jersey",837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
5,"Salem County, New Jersey",63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [12]:
census1_pd_2017['NAME'] = census1_pd_2017['NAME'].str.rstrip('County,New Jersey')

In [13]:
census1_pd_2017.head()

,NAME,2017 Pop,2017 Unmarried Women,High School Graduate(%),Unemployment(%),Percent Under the Poverty lavel,Mean Income,Sex Ratio(per hundred female),Mean Age
1,Ocea,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
2,Atlantic,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
3,Glouc,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
4,Middlesex,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
5,Salem,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [14]:
census1_pd_2017.to_csv("Output/census_county.csv")