In [30]:
import requests
import json
import pandas as pd
import numpy as np
from config import api_key
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [31]:
#write api call for 2017 data and get response
long_url2 = "https://api.census.gov/data/2017/acs/acs5/profile?get=DP05_0001E,DP02_0037PE,DP02_0061PE,DP03_0009PE,DP03_0128PE,DP03_0063E,DP05_0004E,DP05_0018E,NAME&for=county:*&in=state:34&key="
response2 = requests.get(long_url2)
print(response2)

<Response [200]>

In [32]:
#read json
response2=response2.json()

In [33]:
#convert to dataframe and clean up header
census1_pd_2017 = pd.DataFrame(response2)
census1_pd_2017.columns = census1_pd_2017.iloc[0]
census1_pd_2017 = census1_pd_2017.iloc[1:]
census1_pd_2017.head()

,DP05_0001E,DP02_0037PE,DP02_0061PE,DP03_0009PE,DP03_0128PE,DP03_0063E,DP05_0004E,DP05_0018E,NAME,state,county
1,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9,"Ocean County, New Jersey",34,029
2,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1,"Atlantic County, New Jersey",34,001
3,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9,"Gloucester County, New Jersey",34,015
4,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1,"Middlesex County, New Jersey",34,023
5,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9,"Salem County, New Jersey",34,033

In [34]:
#rename columns
census1_pd_2017 = census1_pd_2017.rename(columns={"DP05_0001E": "2017_Population","DP02_0037PE": "2017_Birth_to_Unmarried_Women",
                                                  "DP02_0061PE": "High_School_Graduate_Percentage","DP03_0009PE":"Unemployment_Percentage",
                                                  "DP03_0128PE":"Percent_Under_the_Poverty_level","DP03_0063E":"Mean_Income",
                                                  "DP05_0004E":"Sex_Ratio_per_hundred_female","DP05_0018E":"Mean_Age"})
census1_pd_2017.head()

,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age,NAME,state,county
1,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9,"Ocean County, New Jersey",34,029
2,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1,"Atlantic County, New Jersey",34,001
3,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9,"Gloucester County, New Jersey",34,015
4,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1,"Middlesex County, New Jersey",34,023
5,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9,"Salem County, New Jersey",34,033

In [35]:
census1_pd_2017.drop('state', axis=1, inplace=True)

In [36]:
census1_pd_2017.drop('county', axis=1, inplace=True)

In [37]:
census1_pd_2017.head()

,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age,NAME
1,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9,"Ocean County, New Jersey"
2,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1,"Atlantic County, New Jersey"
3,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9,"Gloucester County, New Jersey"
4,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1,"Middlesex County, New Jersey"
5,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9,"Salem County, New Jersey"

In [38]:
census1_pd_2017=census1_pd_2017[['NAME','2017_Population','2017_Birth_to_Unmarried_Women','High_School_Graduate_Percentage','Unemployment_Percentage',
                                 'Percent_Under_the_Poverty_level','Mean_Income','Sex_Ratio_per_hundred_female','Mean_Age']]
census1_pd_2017.head()

,NAME,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age
1,"Ocean County, New Jersey",589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
2,"Atlantic County, New Jersey",272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
3,"Gloucester County, New Jersey",291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
4,"Middlesex County, New Jersey",837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
5,"Salem County, New Jersey",63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [39]:
census1_pd_2017= census1_pd_2017.rename(columns={"NAME": "county"})
census1_pd_2017.head()

,county,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age
1,"Ocean County, New Jersey",589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
2,"Atlantic County, New Jersey",272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
3,"Gloucester County, New Jersey",291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
4,"Middlesex County, New Jersey",837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
5,"Salem County, New Jersey",63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [40]:
census1_pd_2017['county'] = census1_pd_2017['county'].str.rstrip('New Jersey')
census1_pd_2017.head()

,county,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age
1,"Ocean County,",589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
2,"Atlantic County,",272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
3,"Gloucester County,",291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
4,"Middlesex County,",837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
5,"Salem County,",63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [41]:
census1_pd_2017['county'] = census1_pd_2017['county'].str.rstrip('County,')

In [42]:
census1_pd_2017.head()

,county,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age
1,Ocean,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
2,Atlantic,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
3,Gloucester,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
4,Middlesex,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
5,Salem,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9

In [76]:
census1_pd_2017.to_csv("county.csv")

In [77]:
census1_pd_2017.drop(census1_pd_2017.filter(regex="Unname"),axis=1, inplace=True)

In [78]:
census1_pd_2017.to_csv("county.csv")

In [79]:
census1_pd_2017.head()

,2017_Population,2017_Birth_to_Unmarried_Women,High_School_Graduate_Percentage,Unemployment_Percentage,Percent_Under_the_Poverty_level,Mean_Income,Sex_Ratio_per_hundred_female,Mean_Age
county,,,,,,,,
Ocean,589699,22.2,34.3,6.7,10.9,86433,92.9,42.9
Atlantic,272926,44.1,33.0,10.9,15.3,78395,93.9,41.1
Gloucester,291372,29.2,33.8,7.4,7.9,98029,94.5,39.9
Middlesex,837288,23.8,25.8,6.4,8.6,104526,96.9,38.1
Salem,63776,48.7,38.0,8.0,14.2,81352,95.2,41.9